In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
%%bash

gsutil cp gs://fc-secure-827e3d9c-02b8-499f-91af-c2142b7d2074/mtp_chip_grids_for_adi.txt .

Copying gs://fc-secure-827e3d9c-02b8-499f-91af-c2142b7d2074/mtp_chip_grids_for_adi.txt...
/ [1 files][  4.6 KiB/  4.6 KiB]
Operation completed over 1 objects/4.6 KiB.

In [3]:
%%bash

gsutil -m cp gs://bicklab-main-storage/Users/Taralynn_Mack/BioVU_MTP_Project/Full_Dataset/CHIP_MTP_NewCalls_Jan23.txt .
gsutil -m cp gs://fc-secure-827e3d9c-02b8-499f-91af-c2142b7d2074/multi-timepoint-project/MTP_drug_data_individual_level.csv .

Copying gs://bicklab-main-storage/Users/Taralynn_Mack/BioVU_MTP_Project/Full_Dataset/CHIP_MTP_NewCalls_Jan23.txt...
/ [1/1 files][204.2 KiB/204.2 KiB] 100% Done
Operation completed over 1 objects/204.2 KiB.
Copying gs://fc-secure-827e3d9c-02b8-499f-91af-c2142b7d2074/multi-timepoint-project/MTP_drug_data_individual_level.csv...
/ [1/1 files][110.2 MiB/110.2 MiB] 100% Done
Operation completed over 1 objects/110.2 MiB.

In [4]:
%%bash 

gsutil cp gs://bicklab-main-storage/Users/Taralynn_Mack/BioVU_MTP_Project/Initial_500_Samples/MTP_Dataset_Updated_Sep23.csv .

Copying gs://bicklab-main-storage/Users/Taralynn_Mack/BioVU_MTP_Project/Initial_500_Samples/MTP_Dataset_Updated_Sep23.csv...
/ [1 files][ 21.6 KiB/ 21.6 KiB]
Operation completed over 1 objects/21.6 KiB.

In [5]:
mtp_df_firsthundred = pd.read_csv('MTP_Dataset_Updated_Sep23.csv')

In [6]:
oldcall_GRID_set = set(mtp_df_firsthundred['GRID'].unique())

In [22]:
chip_mtp_newcalls = pd.read_csv('CHIP_MTP_NewCalls_Jan23.txt', sep='\t')

In [8]:
newcall_GRID_set = set(chip_mtp_newcalls['GRID'].unique())

In [9]:
grids_sent_to_Adi = set(pd.read_csv('mtp_chip_grids_for_adi.txt', sep='\t', header=None)[0].unique())

In [10]:
new_grids_for_adi = newcall_GRID_set.union(oldcall_GRID_set) - grids_sent_to_Adi

In [11]:
len(new_grids_for_adi)

724

In [12]:
with open('mtp_chip_grids_for_adi_part2.txt', 'w') as f:
    for item in new_grids_for_adi:
        f.write("%s\n" % item)

In [33]:
! gsutil cp mtp_chip_grids_for_adi_part2.txt gs://fc-secure-827e3d9c-02b8-499f-91af-c2142b7d2074/

Copying file://mtp_chip_grids_for_adi_part2.txt [Content-Type=text/plain]...
/ [1 files][  7.8 KiB/  7.8 KiB]
Operation completed over 1 objects/7.8 KiB.

In [ ]:
%%bash

gsutil -m cp gs://fc-secure-827e3d9c-02b8-499f-91af-c2142b7d2074/multi-timepoint-project/filtered_annovar_9700_DRGN_Retransfer.allvariants.csv .
gsutil -m cp gs://fc-secure-827e3d9c-02b8-499f-91af-c2142b7d2074/multi-timepoint-project/filtered_annovar_9700_DRGN_Retransfer.allvariants_9700update2.csv .
gsutil -m cp gs://fc-secure-827e3d9c-02b8-499f-91af-c2142b7d2074/multi-timepoint-project/filtered_annovar_9700_DRGN_Retransfer.allvariants_9700update3.csv .
gsutil -m cp gs://fc-secure-827e3d9c-02b8-499f-91af-c2142b7d2074/multi-timepoint-project/filtered_annovar_9700_DRGN_Retransfer.allvariants_9700.csv .

In [192]:
chip_mtp_newcalls

,GRID,Gene.refGene,Chr,Start,End,Ref,Alt,ExonicFunc.refGene,DOB,Sample_A,...,Sample_D,DATE_A,DATE_B,DATE_C,DATE_D,AF_A,AF_B,AF_C,AF_D,variant
0,R200198059,DNMT3A,chr2,25234380,25234380,T,C,nonsynonymous SNV,8/16/1934,9700-AB-3966,...,NaN,2/21/2012,2/26/2017,NaN,NaN,0.023,NaN,NaN,NaN,chr2:25234380:T:C
1,R200376251,SF3B1,chr2,197402757,197402757,T,C,nonsynonymous SNV,10/7/1927,9700-AB-5035,...,NaN,3/16/2011,3/28/2015,NaN,NaN,0.271,NaN,NaN,NaN,chr2:197402757:T:C
2,R200403009,GNAS,chr20,58909366,58909366,G,A,nonsynonymous SNV,9/19/1930,9700-AB-0782,...,NaN,10/20/2012,12/11/2014,NaN,NaN,0.097,0.090,NaN,NaN,chr20:58909366:G:A
3,R200420336,DNMT3A,chr2,25239128,25239128,A,G,.,12/9/1943,9700-AB-1362,...,NaN,9/9/2008,11/5/2016,NaN,NaN,0.024,NaN,NaN,NaN,chr2:25239128:A:G
4,R200424309,TET2,chr4,105276128,105276128,T,C,nonsynonymous SNV,5/3/1951,9700-AB-1082,...,NaN,8/21/2018,11/29/2013,NaN,NaN,0.026,NaN,NaN,NaN,chr4:105276128:T:C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1426,R299585020,TET2,chr4,105242922,105242922,A,G,nonsynonymous SNV,8/1/1941,9700-AB-0755,...,NaN,4/14/2018,9/10/2011,NaN,NaN,0.051,0.037,NaN,NaN,chr4:105242922:A:G
1427,R299603973,DNMT3A,chr2,25236965,25236965,C,A,stopgain,11/13/1941,9700-AB-4139,...,NaN,1/13/2011,7/19/2008,NaN,NaN,0.024,0.021,NaN,NaN,chr2:25236965:C:A
1428,R299819084,TET2,chr4,105235191,105235191,C,T,stopgain,5/28/1941,9700-AB-5062,...,NaN,7/29/2011,9/1/2007,NaN,NaN,0.028,NaN,NaN,NaN,chr4:105235191:C:T
1429,R299875805,SRSF2,chr17,76736877,76736877,G,T,nonsynonymous SNV,3/11/1946,9700-AB-0874,...,NaN,3/29/2007,10/11/2019,NaN,NaN,NaN,0.029,NaN,NaN,chr17:76736877:G:T
1430,R299986105,DNMT3A,chr2,25244567,25244567,A,T,nonsynonymous SNV,7/8/1948,9700-AB-0800,...,NaN,2/22/2017,11/17/2009,NaN,NaN,0.093,0.045,NaN,NaN,chr2:25244567:A:T

In [24]:
chip_mtp_newcalls

,GRID,Gene.refGene,Chr,Start,End,Ref,Alt,ExonicFunc.refGene,DOB,Sample_A,...,Sample_C,Sample_D,DATE_A,DATE_B,DATE_C,DATE_D,AF_A,AF_B,AF_C,AF_D
0,R200198059,DNMT3A,chr2,25234380,25234380,T,C,nonsynonymous SNV,8/16/1934,9700-AB-3966,...,NaN,NaN,2/21/2012,2/26/2017,NaN,NaN,0.023,NaN,NaN,NaN
1,R200376251,SF3B1,chr2,197402757,197402757,T,C,nonsynonymous SNV,10/7/1927,9700-AB-5035,...,NaN,NaN,3/16/2011,3/28/2015,NaN,NaN,0.271,NaN,NaN,NaN
2,R200403009,GNAS,chr20,58909366,58909366,G,A,nonsynonymous SNV,9/19/1930,9700-AB-0782,...,NaN,NaN,10/20/2012,12/11/2014,NaN,NaN,0.097,0.090,NaN,NaN
3,R200420336,DNMT3A,chr2,25239128,25239128,A,G,.,12/9/1943,9700-AB-1362,...,NaN,NaN,9/9/2008,11/5/2016,NaN,NaN,0.024,NaN,NaN,NaN
4,R200424309,TET2,chr4,105276128,105276128,T,C,nonsynonymous SNV,5/3/1951,9700-AB-1082,...,NaN,NaN,8/21/2018,11/29/2013,NaN,NaN,0.026,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1426,R299585020,TET2,chr4,105242922,105242922,A,G,nonsynonymous SNV,8/1/1941,9700-AB-0755,...,NaN,NaN,4/14/2018,9/10/2011,NaN,NaN,0.051,0.037,NaN,NaN
1427,R299603973,DNMT3A,chr2,25236965,25236965,C,A,stopgain,11/13/1941,9700-AB-4139,...,NaN,NaN,1/13/2011,7/19/2008,NaN,NaN,0.024,0.021,NaN,NaN
1428,R299819084,TET2,chr4,105235191,105235191,C,T,stopgain,5/28/1941,9700-AB-5062,...,NaN,NaN,7/29/2011,9/1/2007,NaN,NaN,0.028,NaN,NaN,NaN
1429,R299875805,SRSF2,chr17,76736877,76736877,G,T,nonsynonymous SNV,3/11/1946,9700-AB-0874,...,NaN,NaN,3/29/2007,10/11/2019,NaN,NaN,NaN,0.029,NaN,NaN
1430,R299986105,DNMT3A,chr2,25244567,25244567,A,T,nonsynonymous SNV,7/8/1948,9700-AB-0800,...,NaN,NaN,2/22/2017,11/17/2009,NaN,NaN,0.093,0.045,NaN,NaN

In [25]:
# Selecting unique variants
chip_mtp_newcalls['variant'] = chip_mtp_newcalls['Chr'] + ':' + chip_mtp_newcalls['Start'].astype(str) + ':' + chip_mtp_newcalls['Ref'] + ':' + chip_mtp_newcalls['Alt']
unique_variants = chip_mtp_newcalls.drop_duplicates(subset=['variant'])

In [57]:
# Convert numeric chromosome names to integers, non-numeric names remain as strings
unique_variants['Chr_num'] = unique_variants['Chr'].apply(lambda x: int(x[3:]) if x[3:].isdigit() else x[3:])

# Sort by chromosome (numeric first, then non-numeric) and position
unique_variants = unique_variants.sort_values(by=['Chr_num', 'Start'])

In [70]:
unique_variants

,GRID,Gene.refGene,Chr,Start,End,Ref,Alt,ExonicFunc.refGene,DOB,Sample_A,...,DATE_A,DATE_B,DATE_C,DATE_D,AF_A,AF_B,AF_C,AF_D,variant,Chr_num
449,R230765672,GNB1,chr1,1806503,1806503,A,T,nonsynonymous SNV,9/18/1940,9700-AB-2091,...,3/29/2015,7/6/2010,NaN,NaN,0.312,0.050,NaN,NaN,chr1:1806503:A:T,1
622,R242924349,GNB1,chr1,1815788,1815788,C,G,nonsynonymous SNV,11/18/1922,9700-AB-3148,...,7/28/2012,9/17/2016,NaN,NaN,0.039,0.065,NaN,NaN,chr1:1815788:C:G,1
1048,R272509880,GNB1,chr1,1815788,1815788,C,A,nonsynonymous SNV,10/27/1939,9700-AB-4351,...,4/22/2007,5/26/2012,NaN,NaN,NaN,0.022,NaN,NaN,chr1:1815788:C:A,1
719,R249594005,GNB1,chr1,1815789,1815789,T,G,nonsynonymous SNV,10/29/1944,9700-AB-3189,...,2/20/2017,8/28/2009,NaN,NaN,0.040,0.056,NaN,NaN,chr1:1815789:T:G,1
9,R200779674,GNB1,chr1,1815790,1815790,T,C,nonsynonymous SNV,2/7/1926,9700-AB-0302,...,1/13/2017,8/7/2007,NaN,NaN,NaN,0.025,NaN,NaN,chr1:1815790:T:C,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,R210109588,BRCC3,chrX,155078704,155078704,G,A,.,10/3/1925,9700-AB-5642,...,8/31/2006,9/6/2016,NaN,NaN,0.045,0.047,NaN,NaN,chrX:155078704:G:A,X
996,R268214529,BRCC3,chrX,155089315,155089315,-,AA,frameshift insertion,10/12/1920,9700-AB-1841,...,2/26/2016,6/4/2011,NaN,NaN,0.053,NaN,NaN,NaN,chrX:155089315:-:AA,X
1192,R284528876,BRCC3,chrX,155090816,155090816,-,T,frameshift insertion,2/12/1944,9700-AB-3403,...,9/13/2008,10/21/2014,NaN,NaN,NaN,0.080,NaN,NaN,chrX:155090816:-:T,X
1009,R269338417,BRCC3,chrX,155116065,155116065,-,A,frameshift insertion,8/20/1942,9700-AB-4661,...,1/12/2013,6/4/2018,NaN,NaN,0.022,NaN,NaN,NaN,chrX:155116065:-:A,X
207,R214944345,BRCC3,chrX,155116068,155116068,T,-,frameshift deletion,8/3/1945,9700-AB-0336,...,10/18/2016,12/7/2013,NaN,NaN,0.141,0.159,NaN,NaN,chrX:155116068:T:-,X

In [110]:
all_vars = pd.read_csv('filtered_annovar_9700_DRGN_Retransfer.allvariants.csv')
all_vars_update2 = pd.read_csv('filtered_annovar_9700_DRGN_Retransfer.allvariants_9700update2.csv')
all_vars_update3 = pd.read_csv('filtered_annovar_9700_DRGN_Retransfer.allvariants_9700update3.csv')

In [111]:
allvariants_df = pd.concat([all_vars, all_vars_update2, all_vars_update3]).drop_duplicates()

In [124]:
allvariants_df[(allvariants_df['Chr']=='chr2') & (allvariants_df['Start']==25234301)].iloc[0]

Gene.refGene                                                     DNMT3A
Chr                                                                chr2
Start                                                          25234301
End                                                            25234301
Ref                                                                   T
Alt                                                                   -
Func.refGene                                                     exonic
GeneDetail.refGene                                                    .
ExonicFunc.refGene                                  frameshift deletion
AAChange.refGene      DNMT3A:NM_001320893:exon18:c.2261delA:p.K754Rf...
cosmic70                                                              .
Otherinfo1                                                          0.5
Otherinfo2                                                            .
Otherinfo3                                                          617
Otherinfo4                                                         chr2
Otherinfo5                                                     25234300
Otherinfo6                                                            .
Otherinfo7                                                           CT
Otherinfo8                                                            C
Otherinfo9                                                            .
Otherinfo10                                            clustered_events
Otherinfo11           CONTQ=93;DP=630;ECNT=11;GERMQ=93;MBQ=37,37;MFR...
Otherinfo12                                    GT:AD:AF:DP:F1R2:F2R1:SB
Otherinfo13            0/1:560,57:0.085:617:262,28:267,29:324,236,25,32
Sample                                                     9700-AB-2587
Accession                                                     NM_022552
transcriptOI            DNMT3A:NM_022552:exon23:c.2717delA:p.K906Rfs*16
NonsynOI                                                     K906Rfs*16
whitelist                                                          True
wl.mis                                                            False
wl.lof                                                             True
wl.splice                                                         False
wl.exception                                                      False
manualreview                                                      False
Name: 151309, dtype: object

In [132]:
allvariants_df[['Gene.refGene', 'Chr', 'Start', 'End', 'Ref', 'Alt', 
             'Func.refGene', 'ExonicFunc.refGene', 'Otherinfo5', 'Otherinfo7', 'Otherinfo8']]

,Gene.refGene,Chr,Start,End,Ref,Alt,Func.refGene,ExonicFunc.refGene,Otherinfo5,Otherinfo7,Otherinfo8
0,ASXL1,chr20,32366401,32366401,G,A,exonic,synonymous SNV,32366401,G,A
1,ASXL1,chr20,32369057,32369057,C,A,exonic,synonymous SNV,32369057,C,A
2,ASXL1,chr20,32369111,32369111,T,C,exonic,synonymous SNV,32369111,T,C
3,ASXL1,chr20,32369113,32369113,T,C,exonic,nonsynonymous SNV,32369113,T,C
4,ASXL1,chr20,32369117,32369117,G,A,exonic,synonymous SNV,32369117,G,A
...,...,...,...,...,...,...,...,...,...,...,...
309573,TP53,chr17,7676387,7676387,C,T,exonic,nonsynonymous SNV,7676387,C,T
309574,TP53,chr17,7676532,7676532,G,A,exonic,synonymous SNV,7676532,G,A
309575,TP53,chr17,7676564,7676564,C,G,exonic,nonsynonymous SNV,7676564,C,G
309576,TP53,chr17,7676565,7676565,G,A,exonic,synonymous SNV,7676565,G,A
309577,TP53,chr17,7676567,7676567,C,T,exonic,nonsynonymous SNV,7676567,C,T

In [130]:
variants_with_deletion_df = allvariants_df[['Gene.refGene', 'Chr', 'Start', 'End', 'Ref', 'Alt', 
             'Func.refGene', 'ExonicFunc.refGene', 'Otherinfo5', 'Otherinfo7', 'Otherinfo8']].drop_duplicates()

In [134]:
variants_with_deletion_df

,Gene.refGene,Chr,Start,End,Ref,Alt,Func.refGene,ExonicFunc.refGene,Otherinfo5,Otherinfo7,Otherinfo8
0,ASXL1,chr20,32366401,32366401,G,A,exonic,synonymous SNV,32366401,G,A
1,ASXL1,chr20,32369057,32369057,C,A,exonic,synonymous SNV,32369057,C,A
2,ASXL1,chr20,32369111,32369111,T,C,exonic,synonymous SNV,32369111,T,C
3,ASXL1,chr20,32369113,32369113,T,C,exonic,nonsynonymous SNV,32369113,T,C
4,ASXL1,chr20,32369117,32369117,G,A,exonic,synonymous SNV,32369117,G,A
...,...,...,...,...,...,...,...,...,...,...,...
309228,DNMT3A,chr2,25247055,25247055,-,GGTGAGTATCCCTGCTG,exonic,frameshift insertion,25247055,A,AGGTGAGTATCCCTGCTG
309309,MPL,chr1,43349329,43349329,-,GCTGAGGTGGCAGTCTCCTGCCTGGCGGGGGCGGTACCTGTAGTGT...,exonic,stopgain,43349329,T,TGCTGAGGTGGCAGTCTCCTGCCTGGCGGGGGCGGTACCTGTAGTG...
309351,SF3B1,chr2,197402082,197402082,-,C,exonic,frameshift insertion,197402082,A,AC
309375,SF3B1,chr2,197409941,197409941,-,CTCA,exonic,stopgain,197409941,G,GCTCA
309458,TET2,chr4,105236750,105236750,T,G,exonic,nonsynonymous SNV,105236750,T,G

In [138]:
unique_variants_with_extrainfo_df = pd.merge(unique_variants, variants_with_deletion_df, 
                     on=["Gene.refGene", "Chr", "Start", "End", "Ref", "Alt"], 
                     how='left')

In [203]:
sample_A_variants = unique_variants_with_extrainfo_df[['Sample_A', 'Chr', 'Otherinfo5', 'Otherinfo7', 'Otherinfo8']].dropna()

In [204]:
sample_B_variants = unique_variants_with_extrainfo_df[['Sample_B', 'Chr', 'Otherinfo5', 'Otherinfo7', 'Otherinfo8']].dropna()

In [205]:
sample_C_variants = unique_variants_with_extrainfo_df[['Sample_C', 'Chr', 'Otherinfo5', 'Otherinfo7', 'Otherinfo8']].dropna()

In [206]:
sample_D_variants = unique_variants_with_extrainfo_df[['Sample_D', 'Chr', 'Otherinfo5', 'Otherinfo7', 'Otherinfo8']].dropna()

In [212]:
sample_A_variants.columns = ['Sample', 'Chr', 'Start', 'Ref', 'Alt']
sample_A_variants['Start'] = sample_A_variants['Start'].astype(int)

sample_B_variants.columns = ['Sample', 'Chr', 'Start', 'Ref', 'Alt']
sample_B_variants['Start'] = sample_A_variants['Start'].astype(int)

sample_C_variants.columns = ['Sample', 'Chr', 'Start', 'Ref', 'Alt']
sample_C_variants['Start'] = sample_A_variants['Start'].astype(int)

sample_D_variants.columns = ['Sample', 'Chr', 'Start', 'Ref', 'Alt']
sample_D_variants['Start'] = sample_A_variants['Start'].astype(int)

In [224]:
all_samples = pd.concat([sample_A_variants, sample_B_variants, sample_C_variants, sample_D_variants])
all_samples.dropna(inplace=True)

In [228]:
# Create an empty list to store the new rows
new_rows = []

# Iterate over each row in the DataFrame
for index, row in all_samples.iterrows():
    if ',' in row['Alt']:
        # Split the 'Otherinfo8' field
        parts = row['Alt'].split(',')
        for part in parts:
            # Create a new row for each part
            new_row = row.copy()
            new_row['Alt'] = part
            new_rows.append(new_row)
    else:
        # If no comma, add the row as is
        new_rows.append(row)

# Convert the list of new rows into a DataFrame
all_samples_split = pd.DataFrame(new_rows)

In [230]:
all_samples_split.to_csv('all_samples_for_AF.tsv', sep='\t', index=False)

In [232]:
all_samples_split

            Sample    Chr       Start Ref                   Alt
0     9700-AB-2091   chr1   1806503.0   A                     T
1     9700-AB-3148   chr1   1815788.0   C                     G
2     9700-AB-4351   chr1   1815788.0   C                     A
3     9700-AB-3189   chr1   1815789.0   T                     G
4     9700-AB-0302   chr1   1815790.0   T                     C
...            ...    ...         ...  ..                   ...
988   9700-AB-5741  chr20  32434757.0   G                    GC
994   9700-AB-3449  chr20  32434916.0  CT                     C
1007  9700-AB-1771  chr20  32435314.0   C  CATGAGCCACCAAGCCCTAA
80    9700-AB-5744   chr2  25239153.0   C                     A
313   9700-AB-5771   chr2  25246214.0  TC                     T

[1963 rows x 5 columns]

In [231]:
! gsutil cp all_samples_for_AF.tsv gs://fc-secure-827e3d9c-02b8-499f-91af-c2142b7d2074/multi-timepoint-project/

Copying file://all_samples_for_AF.tsv [Content-Type=text/tab-separated-values]...
/ [1 files][ 67.0 KiB/ 67.0 KiB]
Operation completed over 1 objects/67.0 KiB.

In [143]:
unique_variants_for_vcf = unique_variants_with_extrainfo_df[['Chr', 'Otherinfo5', 'Otherinfo7', 'Otherinfo8']]

In [146]:
unique_variants_for_vcf.dropna(inplace=True)

/tmp/ipykernel_10677/607984160.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unique_variants_for_vcf.dropna(inplace=True)

In [157]:
# Create an empty list to store the new rows
new_rows = []

# Iterate over each row in the DataFrame
for index, row in unique_variants_for_vcf.iterrows():
    if ',' in row['Otherinfo8']:
        # Split the 'Otherinfo8' field
        parts = row['Otherinfo8'].split(',')
        for part in parts:
            # Create a new row for each part
            new_row = row.copy()
            new_row['Otherinfo8'] = part
            new_rows.append(new_row)
    else:
        # If no comma, add the row as is
        new_rows.append(row)

# Convert the list of new rows into a DataFrame
new_unique_variants_for_vcf = pd.DataFrame(new_rows)

In [166]:
new_unique_variants_for_vcf['Chr_num'] = new_unique_variants_for_vcf['Chr'].apply(lambda x: int(x[3:]) if x[3:].isdigit() else x[3:])

In [168]:
new_unique_variants_for_vcf.sort_values(by=['Chr_num', 'Otherinfo5'], inplace=True)

In [174]:
# Displaying the first few rows of the new DataFrame
new_unique_variants_for_vcf['Chr'].unique()

array(['chr1', 'chr2', 'chr4', 'chr9', 'chr11', 'chr12', 'chr15', 'chr17',
       'chr20', 'chrX'], dtype=object)

In [193]:
new_unique_variants_for_vcf

        Chr   Otherinfo5 Otherinfo7 Otherinfo8 Chr_num
0      chr1    1806503.0          A          T       1
1      chr1    1815788.0          C          G       1
2      chr1    1815788.0          C          A       1
3      chr1    1815789.0          T          G       1
4      chr1    1815790.0          T          C       1
...     ...          ...        ...        ...     ...
1016  chr20   58909366.0          G          A      20
1020   chrX  155078689.0          G          A       X
1021   chrX  155078704.0          G          A       X
1022   chrX  155089315.0          T        TAA       X
1025   chrX  155116067.0         AT          A       X

[994 rows x 5 columns]

In [170]:
with open('variants.vcf', 'w') as file:
    file.write('##fileformat=VCFv4.2\n')
    file.write('#CHROM\tPOS\tID\tREF\tALT\tQUAL\tFILTER\tINFO\n')
    for index, row in new_unique_variants_for_vcf.iterrows():
        # Convert chromosome back to string for output
        file.write(str(row['Chr']) + '\t' + str(int(row['Otherinfo5'])) + '\t.\t' + row['Otherinfo7'] + '\t' + row['Otherinfo8'] + '\t.\tPASS\t.\n')

In [171]:
! gsutil cp variants.vcf gs://fc-secure-827e3d9c-02b8-499f-91af-c2142b7d2074/multi-timepoint-project/mtp_variants_for_mutect2_jan24_fixed.vcf

Copying file://variants.vcf [Content-Type=text/vcard]...
/ [1 files][ 30.1 KiB/ 30.1 KiB]
Operation completed over 1 objects/30.1 KiB.

In [4]:
# find all rows where Sample_A, Sample_B, Sample_C, and Sample_D are not null
# and AF_A, AF_B, AF_C, and AF_D are null
mask_a = (chip_mtp_newcalls['Sample_A'].notna() & chip_mtp_newcalls['AF_A'].isna())
mask_b = (chip_mtp_newcalls['Sample_B'].notna() & chip_mtp_newcalls['AF_B'].isna())
mask_c = (chip_mtp_newcalls['Sample_C'].notna() & chip_mtp_newcalls['AF_C'].isna())
mask_d = (chip_mtp_newcalls['Sample_D'].notna() & chip_mtp_newcalls['AF_D'].isna())

In [11]:
chip_mtp_newcalls[((mask_a) | (mask_b) | (mask_c) | (mask_d))]

,GRID,Gene.refGene,Chr,Start,End,Ref,Alt,ExonicFunc.refGene,DOB,Sample_A,...,Sample_C,Sample_D,DATE_A,DATE_B,DATE_C,DATE_D,AF_A,AF_B,AF_C,AF_D
0,R200198059,DNMT3A,chr2,25234380,25234380,T,C,nonsynonymous SNV,8/16/1934,9700-AB-3966,...,NaN,NaN,2/21/2012,2/26/2017,NaN,NaN,0.023,NaN,NaN,NaN
1,R200376251,SF3B1,chr2,197402757,197402757,T,C,nonsynonymous SNV,10/7/1927,9700-AB-5035,...,NaN,NaN,3/16/2011,3/28/2015,NaN,NaN,0.271,NaN,NaN,NaN
3,R200420336,DNMT3A,chr2,25239128,25239128,A,G,.,12/9/1943,9700-AB-1362,...,NaN,NaN,9/9/2008,11/5/2016,NaN,NaN,0.024,NaN,NaN,NaN
4,R200424309,TET2,chr4,105276128,105276128,T,C,nonsynonymous SNV,5/3/1951,9700-AB-1082,...,NaN,NaN,8/21/2018,11/29/2013,NaN,NaN,0.026,NaN,NaN,NaN
6,R200756454,DNMT3A,chr2,25240337,25240344,CGCCCATG,-,stopgain,8/28/1942,9700-AB-2056,...,NaN,NaN,1/29/2011,7/22/2017,NaN,NaN,NaN,0.034,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1421,R299270645,DNMT3A,chr2,25240379,25240379,G,A,nonsynonymous SNV,11/8/1933,9700-AB-4392,...,NaN,NaN,10/23/2007,10/25/2016,NaN,NaN,NaN,0.022,NaN,NaN
1424,R299585020,ASXL1,chr20,32433732,32433732,C,T,stopgain,8/1/1941,9700-AB-0755,...,NaN,NaN,4/14/2018,9/10/2011,NaN,NaN,0.025,NaN,NaN,NaN
1425,R299585020,TET2,chr4,105236739,105236739,C,T,stopgain,8/1/1941,9700-AB-0755,...,NaN,NaN,4/14/2018,9/10/2011,NaN,NaN,NaN,0.022,NaN,NaN
1428,R299819084,TET2,chr4,105235191,105235191,C,T,stopgain,5/28/1941,9700-AB-5062,...,NaN,NaN,7/29/2011,9/1/2007,NaN,NaN,0.028,NaN,NaN,NaN
1429,R299875805,SRSF2,chr17,76736877,76736877,G,T,nonsynonymous SNV,3/11/1946,9700-AB-0874,...,NaN,NaN,3/29/2007,10/11/2019,NaN,NaN,NaN,0.029,NaN,NaN

In [9]:
missing_samples = set(chip_mtp_newcalls[mask_a]['Sample_A']).union(set(chip_mtp_newcalls[mask_b]['Sample_B']), set(chip_mtp_newcalls[mask_c]['Sample_C']), set(chip_mtp_newcalls[mask_d]['Sample_D']))

In [10]:
len(missing_samples)

741

In [14]:
allvariants_df['AF'] = allvariants_df['Otherinfo13'].apply(lambda x: x.split(':')[2])

In [15]:
allvariants_df['AF'] = pd.to_numeric(allvariants_df['AF'], errors='coerce')
allvariants_df = allvariants_df.dropna(subset=['AF'])

In [16]:
allvariants_df['key'] = allvariants_df[['Sample', 'Gene.refGene', 'Chr', 'Start', 'End', 'Ref', 'Alt']].astype(str).apply('_'.join, axis=1)

In [17]:
variant_af_dict = pd.Series(allvariants_df.AF.values,index=allvariants_df.key).to_dict()

In [21]:
for x in ['A', 'B', 'C', 'D']:
    sample_col = f'Sample_{x}'
    af_col = f'AF_{x}'
    chip_mtp_newcalls[af_col] = chip_mtp_newcalls.apply(lambda row: variant_af_dict.get('_'.join(map(str, [row[sample_col], row['Gene.refGene'], row['Chr'], row['Start'], row['End'], row['Ref'], row['Alt']])), np.nan)if pd.notna(row[sample_col]) and pd.isna(row[af_col]) else row[af_col], axis=1)

In [24]:
# find all rows where Sample_A, Sample_B, Sample_C, and Sample_D are not null
# and AF_A, AF_B, AF_C, and AF_D are null
mask_a = (chip_mtp_newcalls['Sample_A'].notna() & chip_mtp_newcalls['AF_A'].isna())
mask_b = (chip_mtp_newcalls['Sample_B'].notna() & chip_mtp_newcalls['AF_B'].isna())
mask_c = (chip_mtp_newcalls['Sample_C'].notna() & chip_mtp_newcalls['AF_C'].isna())
mask_d = (chip_mtp_newcalls['Sample_D'].notna() & chip_mtp_newcalls['AF_D'].isna())

In [38]:
# Selecting unique variants
chip_mtp_newcalls['variant'] = chip_mtp_newcalls['Chr'] + ':' + chip_mtp_newcalls['Start'].astype(str) + ':' + chip_mtp_newcalls['Ref'] + ':' + chip_mtp_newcalls['Alt']
unique_variants = chip_mtp_newcalls.drop_duplicates(subset=['variant'])

In [40]:
# Writing to VCF
with open('unique_MTP_variants.vcf', 'w') as file:
    file.write('##fileformat=VCFv4.2\n')
    for index, row in unique_variants.iterrows():
        file.write(row['Chr'] + '\t' + str(row['Start']) + '\t.\t' + row['Ref'] + '\t' + row['Alt'] + '\n')

In [29]:
still_missing_samples = set(chip_mtp_newcalls[mask_a]['Sample_A']).union(set(chip_mtp_newcalls[mask_b]['Sample_B']), set(chip_mtp_newcalls[mask_c]['Sample_C']), set(chip_mtp_newcalls[mask_d]['Sample_D']))

In [47]:
chip_mtp_newcalls[(chip_mtp_newcalls['Sample_B'].isin(still_missing_samples))&(chip_mtp_newcalls['AF_A'].notna())]['Sample_B']

0       9700-AB-0011
3       9700-AB-5773
16      9700-AB-2025
18      9700-AB-2642
19      9700-AB-0064
            ...
1402    9700-AB-3729
1419    9700-AB-5832
1424    9700-AB-0709
1425    9700-AB-0709
1426    9700-AB-0709
Name: Sample_B, Length: 345, dtype: object

In [30]:
len(still_missing_samples)

470

In [83]:
len(chip_mtp_newcalls[(mask_a) | (mask_b) | (mask_c) | (mask_d)]['GRID'].unique())

429

In [56]:
chip_mtp_newcalls[chip_mtp_newcalls['Sample_B'].isin(still_missing_samples)]

,GRID,Gene.refGene,Chr,Start,End,Ref,Alt,ExonicFunc.refGene,DOB,Sample_A,...,Sample_C,Sample_D,DATE_A,DATE_B,DATE_C,DATE_D,AF_A,AF_B,AF_C,AF_D
0,R200198059,DNMT3A,chr2,25234380,25234380,T,C,nonsynonymous SNV,8/16/1934,9700-AB-3966,...,NaN,NaN,2/21/2012,2/26/2017,NaN,NaN,0.023,NaN,NaN,NaN
3,R200420336,DNMT3A,chr2,25239128,25239128,A,G,.,12/9/1943,9700-AB-1362,...,NaN,NaN,9/9/2008,11/5/2016,NaN,NaN,0.024,NaN,NaN,NaN
16,R201211148,ASXL1,chr20,32434700,32434700,-,C,frameshift insertion,6/2/1939,9700-AB-5519,...,NaN,NaN,6/2/2018,7/2/2011,NaN,NaN,0.049,NaN,NaN,NaN
18,R201296449,SF3B1,chr2,197402635,197402635,C,A,nonsynonymous SNV,1/10/1950,9700-AB-0708,...,NaN,NaN,7/1/2019,7/31/2010,NaN,NaN,0.031,NaN,NaN,NaN
19,R201328173,DNMT3A,chr2,25240727,25240727,G,A,stopgain,9/15/1942,9700-AB-4607,...,NaN,NaN,1/5/2012,5/12/2018,NaN,NaN,0.025,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1402,R298376889,TET2,chr4,105275107,105275107,A,T,stopgain,9/24/1931,9700-AB-3813,...,NaN,NaN,3/9/2016,9/10/2019,NaN,NaN,0.093,0.147,NaN,NaN
1419,R298924270,TET2,chr4,105269747,105269747,G,T,nonsynonymous SNV,3/23/1942,9700-AB-4421,...,NaN,NaN,5/16/2018,10/4/2011,NaN,NaN,0.021,NaN,NaN,NaN
1424,R299585020,ASXL1,chr20,32433732,32433732,C,T,stopgain,8/1/1941,9700-AB-0755,...,NaN,NaN,4/14/2018,9/10/2011,NaN,NaN,0.025,NaN,NaN,NaN
1425,R299585020,TET2,chr4,105236739,105236739,C,T,stopgain,8/1/1941,9700-AB-0755,...,NaN,NaN,4/14/2018,9/10/2011,NaN,NaN,0.014,0.022,NaN,NaN
1426,R299585020,TET2,chr4,105242922,105242922,A,G,nonsynonymous SNV,8/1/1941,9700-AB-0755,...,NaN,NaN,4/14/2018,9/10/2011,NaN,NaN,0.051,0.037,NaN,NaN

In [53]:
chip_mtp_newcalls[chip_mtp_newcalls['Sample_A']=='9700-AB-3599']['Sample_B']

13    9700-AB-3821
Name: Sample_B, dtype: object

In [48]:
set(chip_mtp_newcalls['Sample_A'].unique()).intersection(still_missing_samples)

{'9700-AB-0001',
 '9700-AB-0009',
 '9700-AB-0037',
 '9700-AB-0086',
 '9700-AB-0146',
 '9700-AB-0164',
 '9700-AB-0180',
 '9700-AB-0190',
 '9700-AB-0208',
 '9700-AB-0245',
 '9700-AB-0251',
 '9700-AB-0259',
 '9700-AB-0301',
 '9700-AB-0327',
 '9700-AB-0331',
 '9700-AB-0338',
 '9700-AB-0508',
 '9700-AB-0517',
 '9700-AB-0566',
 '9700-AB-0591',
 '9700-AB-0694',
 '9700-AB-0731',
 '9700-AB-0735',
 '9700-AB-0798',
 '9700-AB-0817',
 '9700-AB-0855',
 '9700-AB-0874',
 '9700-AB-0875',
 '9700-AB-0909',
 '9700-AB-1006',
 '9700-AB-1030',
 '9700-AB-1036',
 '9700-AB-1049',
 '9700-AB-1062',
 '9700-AB-1071',
 '9700-AB-1131',
 '9700-AB-1164',
 '9700-AB-1185',
 '9700-AB-1191',
 '9700-AB-1239',
 '9700-AB-1268',
 '9700-AB-1296',
 '9700-AB-1304',
 '9700-AB-1319',
 '9700-AB-1334',
 '9700-AB-1336',
 '9700-AB-1352',
 '9700-AB-1378',
 '9700-AB-1412',
 '9700-AB-1580',
 '9700-AB-1668',
 '9700-AB-1703',
 '9700-AB-1711',
 '9700-AB-1739',
 '9700-AB-1748',
 '9700-AB-1760',
 '9700-AB-1781',
 '9700-AB-1820',
 '9700-AB-1834',
 '9700-AB-1856',
 '9700-AB-1859',
 '9700-AB-1960',
 '9700-AB-2020',
 '9700-AB-2024',
 '9700-AB-2026',
 '9700-AB-2027',
 '9700-AB-2031',
 '9700-AB-2032',
 '9700-AB-2056',
 '9700-AB-2072',
 '9700-AB-2078',
 '9700-AB-2094',
 '9700-AB-2124',
 '9700-AB-2125',
 '9700-AB-2184',
 '9700-AB-2196',
 '9700-AB-2198',
 '9700-AB-2268',
 '9700-AB-2298',
 '9700-AB-2342',
 '9700-AB-2366',
 '9700-AB-2430',
 '9700-AB-2433',
 '9700-AB-2451',
 '9700-AB-2479',
 '9700-AB-2481',
 '9700-AB-2487',
 '9700-AB-2499',
 '9700-AB-2524',
 '9700-AB-2600',
 '9700-AB-2671',
 '9700-AB-2673',
 '9700-AB-2684',
 '9700-AB-2694',
 '9700-AB-2709',
 '9700-AB-2749',
 '9700-AB-2757',
 '9700-AB-2781',
 '9700-AB-2795',
 '9700-AB-2814',
 '9700-AB-2834',
 '9700-AB-2861',
 '9700-AB-2867',
 '9700-AB-2884',
 '9700-AB-2885',
 '9700-AB-2902',
 '9700-AB-2910',
 '9700-AB-2914',
 '9700-AB-2931',
 '9700-AB-2938',
 '9700-AB-2953',
 '9700-AB-3091',
 '9700-AB-3126',
 '9700-AB-3204',
 '9700-AB-3209',
 '9700-AB-3262',
 '9700-AB-3276',
 '9700-AB-3335',
 '9700-AB-3354',
 '9700-AB-3385',
 '9700-AB-3393',
 '9700-AB-3403',
 '9700-AB-3477',
 '9700-AB-3497',
 '9700-AB-3505',
 '9700-AB-3506',
 '9700-AB-3551',
 '9700-AB-3564',
 '9700-AB-3573',
 '9700-AB-3599',
 '9700-AB-3605',
 '9700-AB-3642',
 '9700-AB-3660',
 '9700-AB-3687',
 '9700-AB-3727',
 '9700-AB-3739',
 '9700-AB-3760',
 '9700-AB-3761',
 '9700-AB-3804',
 '9700-AB-3809',
 '9700-AB-3810',
 '9700-AB-3814',
 '9700-AB-3839',
 '9700-AB-3865',
 '9700-AB-3880',
 '9700-AB-3890',
 '9700-AB-3895',
 '9700-AB-3951',
 '9700-AB-3975',
 '9700-AB-4000',
 '9700-AB-4009',
 '9700-AB-4033',
 '9700-AB-4043',
 '9700-AB-4063',
 '9700-AB-4082',
 '9700-AB-4093',
 '9700-AB-4103',
 '9700-AB-4125',
 '9700-AB-4142',
 '9700-AB-4152',
 '9700-AB-4177',
 '9700-AB-4194',
 '9700-AB-4206',
 '9700-AB-4247',
 '9700-AB-4259',
 '9700-AB-4278',
 '9700-AB-4280',
 '9700-AB-4303',
 '9700-AB-4305',
 '9700-AB-4333',
 '9700-AB-4335',
 '9700-AB-4341',
 '9700-AB-4351',
 '9700-AB-4360',
 '9700-AB-4392',
 '9700-AB-4416',
 '9700-AB-4545',
 '9700-AB-4564',
 '9700-AB-4576',
 '9700-AB-4593',
 '9700-AB-4615',
 '9700-AB-4616',
 '9700-AB-4621',
 '9700-AB-4659',
 '9700-AB-4661',
 '9700-AB-4667',
 '9700-AB-4751',
 '9700-AB-4775',
 '9700-AB-4796',
 '9700-AB-4974',
 '9700-AB-4995',
 '9700-AB-5063',
 '9700-AB-5092',
 '9700-AB-5116',
 '9700-AB-5156',
 '9700-AB-5190',
 '9700-AB-5234',
 '9700-AB-5264',
 '9700-AB-5306',
 '9700-AB-5374',
 '9700-AB-5398',
 '9700-AB-5399',
 '9700-AB-5400',
 '9700-AB-5403',
 '9700-AB-5407',
 '9700-AB-5434',
 '9700-AB-5437',
 '9700-AB-5452',
 '9700-AB-5494',
 '9700-AB-5506',
 '9700-AB-5507',
 '9700-AB-5509',
 '9700-AB-5539',
 '9700-AB-5557',
 '9700-AB-5601',
 '9700-AB-5622',
 '9700-AB-5623',
 '9700-AB-5631',
 '9700-AB-5638',
 '9700-AB-5690',
 '9700-AB-5698',
 '9700-AB-5718',
 '9700-AB-5731',
 '9700-AB-5746',
 '9700-AB-5747',
 '9700-AB-5760',
 '9700-AB-5769',
 '9700-AB-5842'}

In [43]:
len(set(chip_mtp_newcalls['Sample_B'].unique()).intersection(still_missing_samples))

221

In [88]:
has_A = (chip_mtp_newcalls['Sample_A'].notna() & chip_mtp_newcalls['AF_A'].notna())
has_B = (chip_mtp_newcalls['Sample_B'].notna() & chip_mtp_newcalls['AF_B'].notna())
has_C = (chip_mtp_newcalls['Sample_C'].notna() & chip_mtp_newcalls['AF_C'].notna())
has_D = (chip_mtp_newcalls['Sample_D'].notna() & chip_mtp_newcalls['AF_D'].notna())

In [99]:
chip_mtp_newcalls[(has_A) & (has_B)].to_csv('chip_mtp_hasAandB_yp_Jan24.tsv', sep='\t', index=False)

In [100]:
! gsutil cp chip_mtp_hasAandB_yp_Jan24.tsv gs://bicklab-main-storage/Users/Taralynn_Mack/BioVU_MTP_Project/Full_Dataset/

Copying file://chip_mtp_hasAandB_yp_Jan24.tsv [Content-Type=text/tab-separated-values]...
/ [1 files][118.2 KiB/118.2 KiB]
Operation completed over 1 objects/118.2 KiB.

In [7]:
mtp_newcalls_samples = set(chip_mtp_newcalls['Sample_A']).union(set(chip_mtp_newcalls['Sample_B']), set(chip_mtp_newcalls['Sample_C']), set(chip_mtp_newcalls['Sample_D']))

In [29]:
# find all rows where Sample_A, Sample_B, Sample_C, and Sample_D are not null
# and AF_A, AF_B, AF_C, and AF_D are null
mask_a = (chip_mtp_newcalls['Sample_A'].notna() & chip_mtp_newcalls['AF_A'].isna())
mask_b = (chip_mtp_newcalls['Sample_B'].notna() & chip_mtp_newcalls['AF_B'].isna())
mask_c = (chip_mtp_newcalls['Sample_C'].notna() & chip_mtp_newcalls['AF_C'].isna())
mask_d = (chip_mtp_newcalls['Sample_D'].notna() & chip_mtp_newcalls['AF_D'].isna())

In [30]:
len(set(chip_mtp_newcalls[mask_a]['Sample_A']).union(set(chip_mtp_newcalls[mask_b]['Sample_B']), set(chip_mtp_newcalls[mask_c]['Sample_C']), set(chip_mtp_newcalls[mask_d]['Sample_D'])))

470

In [ ]:
chip_mtp_newcalls[mask_a]

In [ ]:
chip_mtp_newcalls

In [ ]:
chip_mtp_newcalls.to_csv('chip_mtp_newcalls_ypfilledin_Jan24.tsv', sep='\t', index=False)

In [ ]:
! gsutil cp chip_mtp_newcalls_ypfilledin_Jan24.tsv gs://bicklab-main-storage/Users/Taralynn_Mack/BioVU_MTP_Project/Full_Dataset/

In [ ]:
{'9700-AB-0001',
 '9700-AB-0009',
 '9700-AB-0011',
 '9700-AB-0016',
 '9700-AB-0022',
 '9700-AB-0024',
 '9700-AB-0035',
 '9700-AB-0037',
 '9700-AB-0050',
 '9700-AB-0053',
 '9700-AB-0055',
 '9700-AB-0059',
 '9700-AB-0064',
 '9700-AB-0070',
 '9700-AB-0086',

In [ ]:
chip_mtp_newcalls[(chip_mtp_newcalls['Sample_A']=='9700-AB-0001')]

In [ ]:
mtp_df = pd.read_csv('MTP_BioVU_Updated_Dataset_Full_Sep23.txt', sep = '\t', index_col = 0)

In [ ]:
len(mtp_df.index.unique())

In [ ]:
min(all_vars['new_col'])

In [ ]:
plt.hist(all_vars['new_col'])

In [ ]:
min(all_vars['new_col'])

In [ ]:
import pysam
import sys

In [ ]:
def calculate_vaf(bam_file, chrom, pos, ref, alt):
    samfile = pysam.AlignmentFile(bam_file, "rb")
    ref_count = 0
    alt_count = 0

    for pileupcolumn in samfile.pileup(chrom, pos - 1, pos, stepper='samtools', truncate=True):
        for pileupread in pileupcolumn.pileups:
            if not pileupread.is_del and not pileupread.is_refskip:
                # query position is None if is_del or is_refskip is set.
                base = pileupread.alignment.query_sequence[pileupread.query_position]
                if base == ref:
                    ref_count += 1
                elif base == alt:
                    alt_count += 1

    samfile.close()

    total_count = ref_count + alt_count
    if total_count > 0:
        vaf = alt_count / total_count
    else:
        vaf = 0
    print(alt_count)
    print(ref_count)
    return vaf

In [ ]:
bam_file = "9700-AB-5545.bam"
chrom = "chr2"
pos = 25240337
ref = 'C'
alt = ''

In [ ]:
calculate_vaf(bam_file, chrom, pos, ref, alt)

In [ ]:
! ls

In [181]:
unique_samples = set(chip_mtp_newcalls['Sample_A']).union(set(chip_mtp_newcalls['Sample_B']), set(chip_mtp_newcalls['Sample_C']), set(chip_mtp_newcalls['Sample_D']))

In [184]:
def create_tsv_content(samples, prefix):
    """
    Create TSV content for a given set of sample names and a file path prefix.

    Parameters:
    samples (list of str): List of sample names.
    prefix (str): The file path prefix for all files.

    Returns:
    str: The content of the TSV file.
    """
    tsv_lines = [f"{prefix}{sample}.bam\t{prefix}{sample}.bam.bai" for sample in samples]
    return "\n".join(tsv_lines)

# Example usage
file_prefix = "gs://bicklab-main-storage/Data/vantage/9700/bam/"
tsv_content = create_tsv_content(list(unique_samples), file_prefix)

with open('mtp_bam_files_list.tsv', 'w') as file:
    file.write(tsv_content)

In [187]:
! gsutil -m cp mtp_bam_files_list.tsv gs://fc-secure-827e3d9c-02b8-499f-91af-c2142b7d2074/multi-timepoint-project/

Copying file://mtp_bam_files_list.tsv [Content-Type=text/tab-separated-values]...
/ [1/1 files][273.2 KiB/273.2 KiB] 100% Done
Operation completed over 1 objects/273.2 KiB.

In [189]:
file_prefix = "gs://bicklab-main-storage/Data/vantage/9700/bam/"
tsv_content = create_tsv_content(["9700-AB-3966", "9700-AB-5519"], file_prefix)

with open('test_mtp_bam_files_list.tsv', 'w') as file:
    file.write(tsv_content)

In [190]:
! cat test_mtp_bam_files_list.tsv

gs://bicklab-main-storage/Data/vantage/9700/bam/9700-AB-3966.bam	gs://bicklab-main-storage/Data/vantage/9700/bam/9700-AB-3966.bam.bai
gs://bicklab-main-storage/Data/vantage/9700/bam/9700-AB-5519.bam	gs://bicklab-main-storage/Data/vantage/9700/bam/9700-AB-5519.bam.bai

In [191]:
! gsutil -m cp test_mtp_bam_files_list.tsv gs://fc-secure-827e3d9c-02b8-499f-91af-c2142b7d2074/multi-timepoint-project/

Copying file://test_mtp_bam_files_list.tsv [Content-Type=text/tab-separated-values]...
/ [1/1 files][  267.0 B/  267.0 B] 100% Done
Operation completed over 1 objects/267.0 B.